body {
  font-family:'Open Sans', sans-serif;
  background-color: #E8F5E9;
}

.transition {
  transition: 0.4s;
}

.name-change {
  position: absolute;
  left: -250px;
  background-color: gray;
  min-height: 160px;
  width: 250px;
  z-index: 9998;
  text-align:center;
  background-clip: content-box;
}
.name-change.open {
  opacity: 1;
  left: 0px;
}

.formPanel{
  text-align: center;
  padding-top: 10px;
  margin: auto;
  border-radius: 5px;
  background-color: #CCD1D1;
  width: 50%;
  height: 380px;
}

.newCard{
  position: relative;
  margin-left: 420px;
  margin-bottom: 5px;
  width: 75px;
  padding: 5px;
  border: 2px solid green;
}

.inline{
  width: auto;
  height: 20px;
  margin-left: 10px;
  margin-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 4px;
  display:inline-block;
}

.menu{
  display: flex;
}

.submit{
  position: absolute;
  margin-top: 5px;
  margin-left: 680px;
  padding: 5px;
  border: 2px solid green;
}

.pubpriv{
  padding-top: 5px;
  margin-left: 775px;
}

input[type="text"] {
  border: 0;
  outline: 0;
  width: 35%;
  background-color: rgba(46,204,113, 0.25);
  padding: 5px;
  border-bottom: 1px solid black;
}