body {
  font-family:'Open Sans', sans-serif;
}

#header {
  position: fixed;
  left: 445px;
}

#sub-header {
  position: fixed;
  top: 50px;
  left: 430px;
}

.signInWrapper {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.signInCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardSignIn {
  height: 280px;
  min-width: 310px;
  max-width: 310px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.36);
  background-color: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.54);
  transition: all 0.5s ease;
}
.cardSignIn:hover {
  border: 1px solid rgba(0,0,0,0.87);
}
.cardSignIn:hover > .pageTitle {
  color: rgba(0,0,0,0.87) !important;
}
.signInContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pageTitle {
  font-size: 20px;
  font-weight: 300;
  margin-top: 25px;
  color: rgba(0,0,0,0.54);
  margin-bottom: 35px;
  transition: all 0.5s ease;
}
.inputBoxSignIn {
  display: block;
  width: 240px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid rgba(0,0,0,0.54);
  border-radius: 1px;
  padding-left: 10px;
  font-weight: 300;
  color: rgba(0,0,0,0.87);
  outline: none;
  transition: all 0.5s ease;
}
.inputBoxSignIn:hover {
  border: 1px solid rgba(0,0,0,0.87);
}
.inputBoxSignIn:focus {
  border: 1px solid #3498db;
}
.signInButton {
  width: 255px;
  margin-top: 10px;
  height: 40px;
  border: none;
  border-radius: 1px;
  background-color: rgba(0,0,0,0.54);
  color: #FFFFFF;
  font-weight: 300;
  transition: all 0.5s ease;
  outline: none;
}
.signInButton:hover {
  background-color: green;
}
.bottomButtonOne {
  width: 310px;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.54);
  color: #FFFFFF;
  font-weight: 300;
  transition: all 0.5s ease;
  outline: none;
}
.bottomButtonOne:hover {
  background-color: green;
}
.bottomButtonTwo {
  margin-top: 15px;
  width: 310px;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.54);
  color: #FFFFFF;
  font-weight: 300;
  transition: all 0.5s ease;
  outline: none;
}
.bottomButtonTwo:hover {
  background-color: green;
}
.bottomButtonBuffer {
  height: 15px;
}
